div {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

a {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: inline-block;
}

p {
  /*  display: none; */
  color: seagreen;
}
